@model IEnumerable<JobHunter.ViewModels.CompanyHQGroup>
    @{ 
        ViewBag.Title = "Company HQ Stats";
    }
<h2> Company HQ Stats</h2>

<table>
    <tr>
        <th>
            Portland HQ?
        </th>
        <th>
            Count
        </th>
    </tr> 

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.HQStatus)
            </td>
            <td>
                @item.CompanyCount
            </td>
        </tr>
    }
</table>