@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Hunter</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Good Morning Todd, Welcome to Job Hunter</h2>
        <p>
            I have been created to teach you to code again, and help you find the job of your dreams.
        </p>
    </div>
    <div class="col-md-4">
        <h2>I was created using the tutorial below</h2>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>

</div>